@import url('https://fonts.googleapis.com/css?family=Yantramanav:100');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400');

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}
.text {
	color: #000;
}
.intro {
	height: 100%;
	width:  100%;
	margin: auto;
	background: url(https://i.imgur.com/YRWbC9W.jpg) no-repeat 50% 50%;
	display: table;
	top: 25;
	background-size: cover;
}
.intro .inner {
	display: table-cell;
	vertical-align: center;
	width: 100%%;
	max-width: none;
}
.content {
	max-width: 600px;
	margin: 10 left;
	text-align: center;
	padding-bottom: 60%
}
.content h1 {
	font-family: 'Yantramanav', sans-serif;
	font-size: 300%;
	font-weight: bold;
	color: #372322;
	line-height: 100%;

}
.btn {
	font-family: 'Montserrat', sans-serif;
	font-size: 120%;
	font-weight: 900;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	border: solid #a80b16;
	padding: 10px 20px;
	border-radius: 7px;
	background-color: #a80b16;
	transition: all 0.5s;
}
.btn:hover {
	border: solid #c0c0 2px;
}
.notification {
	font-family: 'Montserrat', sans-serif;
	font-size: 75%;
	font-weight: 900px;
	color: #000;
	max-width:40%;
	padding: 10px 20px;
	border-radius: 30px;
	box-shadow: 5px 10px #a80b16;
	background-color: #a80b16;
	transition: all 0.5s;
}
/* p {
	font-size: 150%;
	line-height: 120%;
	font-family: sans-serif; */
}

/* *--- Media Queries --* */
@media screen and (max-width: 900px) {
.content {
	padding-bottom: 30%;
}
.content h1 {
	font-size: 300%;
}
.btn {
	font-size: 110%;
	padding: 9px 17px;
	}
}
@media screen and (max-width: 768px) {
	.content {
		padding-bottom: 30%;
	}
	.content h1 {
		font-size: 300%;
	}
	.btn {
		font-size: 110%;
		padding: 9px 17px;
		}
		/* p {
			font-size: 120%;
			line-height: 100%;
		} */
	}
@media screen and (max-width: 480px) {
	.content {
		padding-bottom: 50%;
	}
	.content h1 {
		font-size: 250%;
	}
	.btn {
		font-size: 110%;
		padding: 6px 14px;
		}
		/* p {
			font-size: 100%;
			line-height: 100%;
		} */
	}
